<%- include("../partials/header") %>




<div class = "container">
	<div class = "jumbotron">
		<div class = "container">
			<h1>Welcome to the campground</h1>
			<p>See below for all our handpick campground</p>
			<a class = "btn btn-primary btn-large" href = "/campgrounds/new">
				Add Campgrounds</a>
		</div>

	</div>
	<div class = "row text-center" style = "display:flex; flex-wrap:wrap;">
		<% name.forEach(function(element){  %>
			<div class = "col-md-3 col-sm-6">
				<div class = "thumbnail">
					<img src = "<%=element.image %>">
					<div class = "caption"> 
						<h3><%=element.name%></h3> 
					</div>
					<p>
						<a href = "/campgrounds/<%= element._id %>" class = "btn btn-primary"> More Info</a>
					</p>
				</div>

					
			</div>
  
		<% }) %>
	</div>


<a href = '/'>Home Page</a>
	
</div>




<%- include("../partials/footer") %>